node_modules
.DS_Store
dist-ssr
*.local
.vscode
/dist
dist.zip
anheyu-app
anheyu-app.exe
anheyu-app-linux-arm64
anheyu-app-linux-amd64
.env
temp
/data/storage
/recycle_bin
build.md
buildkitd.toml
themes
backup
static
DEVELOPMENT_WORKFLOW.md
/assets
.idea